<?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/rollbits</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root123</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">50</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="show_sql">false</property>
		<mapping class="com.sjsu.rollbits.dao.interfaces.model.User" />
		<mapping class="com.sjsu.rollbits.dao.interfaces.model.Message" />
		<mapping class="com.sjsu.rollbits.dao.interfaces.model.Messagetype" />
		<mapping class="com.sjsu.rollbits.dao.interfaces.model.User" />
		<mapping class="com.sjsu.rollbits.dao.interfaces.model.Group" />
		<mapping class="com.sjsu.rollbits.dao.interfaces.model.GroupUser" />
	</session-factory>

</hibernate-configuration>